<div class="ui fixed secondary large menu header" style="border-bottom: 2px solid #79af76; background-color: white">
    <div class="ui container">
        <a href="home" class="header item">
            <img class="logo" style="width: 100%" src="assets/images/prologo.png">
        </a>

        <div style="margin: auto; width: 40%">
            <div id="search-form" class="ui form">
                <input type="search" style="width: 100%"
                       placeholder="Search Professionals, Specialisations in Cities, Countries and much more..."
                       aria-label="Username"
                       aria-describedby="basic-addon1" id="search_input">
            </div>
        </div>

        <div class="right menu profile_menu">
            <span class="item"> <a href="upgrade" class="ui positive button">Upgrade</a></span>
            <a href="home" class="item">Home</a>
            <a href="account" class="item">Login</a>
        </div>
    </div>
</div>