<div class="ui fixed secondary large menu header" style="background-color: white">
    <div class="ui container">
        <a href="home" class="item">
            <img class="logo" style="width: 100%" src="assets/images/prologo.png">
        </a>

        <div style="margin: auto; width: 40%">
            <div id="search-form" class="ui form">
                <input type="search" style="width: 100%"
                       placeholder="Search opportunities, professionals, specialisations in cities, countries and much more..."
                       aria-label="Username"
                       aria-describedby="basic-addon1" id="search_input">
            </div>
        </div>

        <div class="right menu profile_menu">
            <!--<a class="profile_link" data-view="posts">-->
            <!--        <img src="https://img.icons8.com/ios-glyphs/40/000000/new-post.png" style="width: 20px; height: 20px; cursor: pointer; position: absolute">-->
            <!--    </a>-->
            <a class="profile_link item" data-view="home">Home</a>
            <a class="profile_link item" data-view="invites">Connect</a>
            <a class="profile_link item" data-view="posts">Engage</a>
            <a class="profile_link item" data-view="projects">Projects</a>
            <div class="ui simple dropdown item">
                <img class="ui avatar image profile_picture" src="assets/images/man.png"> <i class="dropdown icon"></i>
                <div class="menu">
                    <a class="item profile_link" data-view="profile">View Profile</a>
                    <a class="item profile_link" data-view="blog">Blog</a>
                    <!--<a class="item" id="settings" href="#" data-toggle="modal" data-target="#setting">Settings</a>-->
                    <a class="item" data-view="logout">Logout</a>
                </div>
            </div>
            <div class="item">
                <a href="upgrade" id="upgrade_btn" class="ui button hidden" style="color:white; background-color: #3AAA64 !important">UPGRADE</a>
            </div>
        </div>
    </div>
</div>