<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invitation to Pro-Filr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 20px;background-color: #DEE0E2;">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;background-color: #F4F4F4; font-family: verdana; font-size: 12px; text-align: justify; line-height: 1.5">
 	<tr>
 		<td style="padding: 20px 20px 20px 20px;">
 			<table width="100%">
 				<tr>
 					<td style="font-size: 10px;"><a href="https://pro-filr.com" target="_blank">www.pro-filr.com</a></td>
 					<td style="font-size: 10px;" align="right">Email not displaying correctly?<br/><a href="#">View in your browser</a></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 <tr>
  <!--<td align="center">-->
  <!-- 	<img src="https://pro-filr.com/images/profilr_banner_big_1.jpg" alt="Banner" style="display: block;" />-->
  <!--</td>-->
 </tr>
 <tr>
  <td style="padding: 20px 30px 20px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 10px 10px 10px 10px;">
       <!--<img src="https://www.pro-filr.com/assets/resources/pics/_photo_" alt="image" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #f2f2f2; float: left">-->
       <div style="float: left">
           <img src="https://pro-filr.com/assets/images/proslogo.png" alt="image" style="width: 50px; height: 50px; border-radius: 100%; border: 1px solid #f2f2f2;">
       </div>
     <div style="float: right">
       <img src="cid:photo" alt="image" style=" position: relative; left: 50%; width: 50px; height: 50px; border-radius: 100%; border: 1px solid #f2f2f2;"> <br>
    <span style="position: relative; top: 15px; left: 10px">___First Name and Last Name___ </span> 
    </div>
    
   </td>
  </tr>
  <tr>
<!--   <td style="padding: 10px 10px 10px 10px; font-style: italic;font-weight: bold; color: #980000 ">-->
<!--    Daily, thousands of entrepreneurs engage professionals like you on Pro-Filr.com. Submit your profile on <a href="https://pro-filr.com">pro-filr.com</a>-->
<!--</td>-->
  </tr>

  <tr>
   <td style="padding: 10px 10px 10px 10px;">
    <p>Hi,</p>
<p>I am on Pro-Filr.com, World's #1 Professional directory, used by business owners and entrepreneurs to search and engage professionals for their projects.</p>
<p>With your professional information on Pro-Filr.com, your services become more visible in your areas of specialization with good chance of being engaged for next high-priced business opportunities. </p>
<p>We can also form a group and discuss areas of common interests  and collaborate on project as well, all on one platform. Click <a href="https://pro-filr.com/account" target="_blank">here to Sign up for FREE</a> and Complete your profile. </p>
<p>Remember to add me to your Professional Group after you signed up</p>
<p>Yours , <br/>
___First Name___</p>

</td>
  </tr>
 </table>
</td>
 </tr>
 <tr>
 	<td style="padding: 0px 30px 0px 30px;">
 		<p style="font-style: italic;font-weight: bold; color: #980000;">Secret on how to be the next professional engaged.</p>
<p>Everyone believes in Word of Mouths (WoMs) when seeking to engage professional service providers. Business owners or entrepreneurs seek to confirm competency and skills of professionals before engagement. </p>
<p>Pro-filr.com is designed to provide professionals with required validations from workmates, previous or current employer, friends, families and even from competitors which would improve the chances of being engaged by prospective clients and also collaborate on project online and real time.</p>
 	</td>
 </tr>
 <tr>
  <td style="padding: 10px 30px 30px 30px;">
  	<hr/>
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="65%" style="color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;font-style: italic;">Copyright &copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script> Professionals' File Inc. 10 George St. North. Ontario. L6X 1R2. Canada.
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
    <a href="https://twitter.com/pro_filr" target="_blank"><img src="https://pro-filr.com/images/twitter.png" width="30" height="30"></a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://www.facebook.com/profilr2016/" target="_blank"><img src="https://pro-filr.com/images/facebook.png" width="30" height="30"></a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
</td>
 </tr>
</table>
</body>
</html>