<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Invitation to Pro-Filr</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 20px;background-color: #DEE0E2;">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="600px" style="border: 1px solid #cccccc; background-color: #F4F4F4; font-family: verdana; font-size: 12px; text-align: justify;">
 <tr>
  <td style="padding: 20px 20px 20px 20px;">
 			<table>
 				<tr>
 					<td></td>
 					<td></td>
 				</tr>
 			</table>
 		</td>
 </tr>
 <tr>
  <td align="center">
  	<img src="https://pro-filr.com/images/profilr_banner_big_1.jpg" alt="Banner" style="display: block;" />
  </td>
 </tr>
 <tr>
  <td style="padding: 40px 30px 40px 30px;">
   <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 10px 10px 10px 10px;">
    Your friend, [First Name and Last Name] from [Invitation-From Profile info] invites you to Pro-filr.com
   </td>
  </tr>
  <tr>
   <td>
    Row 2
   </td>
  </tr>
  <tr>
   <td>
    Row 3
   </td>
  </tr>
 </table>
  </td>
 </tr>
 <tr>
  <td style="padding: 30px 30px 30px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td>
   Column 1
  </td>
  <td>
   Column 2
  </td>
 </tr>
</table>
</td>
 </tr>
 <tr>
  <td style="padding: 30px 30px 30px 30px;">
   Row 5
  </td>
 </tr>
</table>
</body>
</html>