
RewriteEngine on
RewriteCond %{HTTP_HOST} ^beta\.pro\-filr\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.beta\.pro\-filr\.com$
RewriteCond %{REQUEST_URI} !^/[0-9]+\..+\.cpaneldcv$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/pro\-filr\.com" [R=301,L]

