
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Project Executed</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 20px;background-color: #DEE0E2;">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;background-color: #F4F4F4; font-family: verdana; font-size: 12px; text-align: justify; line-height: 1.5">
    <tr>
        <td style="padding: 20px 20px 20px 20px;">
            <table width="100%">
                <tr>
                    <td style="font-size: 10px;"><a href="https://pro-filr.com" target="_blank">www.pro-filr.com</a></td>
                    <td style="font-size: 10px;" align="right">Email not displaying correctly?<br/><a href="htttps://www.pro-filr.com/templates/Complete/Complete.html">View in your browser</a></td>
                </tr>
            </table>
        </td>
    </tr>
 <tr>
   <td align="center" style="padding: 10px 10px 10px 10px; font-weight: bold; text-transform: italic">
    Pro-Filr.com, Worlds #1 Platform for Verified Professionals to Collaborate
   </td>
  </tr>
 <tr>
  <td style="padding: 20px 30px 20px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">

  <tr>
   <td style="padding: 10px 10px 10px 10px;">
    Providing information on project previously executed would provide you more leads and business opportunities.
   </td>
  </tr>

  <tr>
   <td align="center" style="padding: 10px;">
    <a href="https://www.pro-filr.com/account" style="background-color: #139f5e; color: #fff; padding: 7px; text-decoration: none; font-size: 14px">Visit your pro-filr account to update all previous project executed.</a>
</td>
  </tr>


 </table>
</td>
 </tr>
 <tr>
    <td style="padding: 20px 30px 20px 30px;">
        <p style="font-style: italic;font-weight: bold; color: #980000;">Upgrade to Classic Membership.</p>
<p>Classic Membership on Pro-filr.com provides you with awesome opportunities. With the upgraded membership, you can engage other professionals, access opportunities, create unlimited professional groups and unlimited projects. Click <a href="https://pro-filr.com/paypal" target="_blank">here</a> to Upgrade. </p>
    </td>
 </tr>
 <tr>
  <td style="padding: 10px 30px 30px 30px;">
    <hr/>
 <table border="0" cellpadding="0" cellspacing="0" width="100%" style="background-color: #139f5e; padding: 15px">
 <tr>
<td width="65%" style="color: #fff;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;font-style: italic;">
    
 This email was intended for _firstname_ _lastname_ _email_. Copyright &copy; <script>new Date().getFullYear()>document.write(""+new Date().getFullYear());</script> Professionals' File Inc. 10 George St. North. Ontario. L6X 1R2. Canada.
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
    <a href="https://twitter.com/pro_filr" target="_blank"><img src="https://pro-filr.com/images/twitter.png" width="30" height="30" style="background: #fff; border-radius:100%"></a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://www.facebook.com/profilr2016/" target="_blank"><img src="https://pro-filr.com/images/facebook.png" width="30" height="30" style="background: #fff; border-radius:100%"></a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
</td>
 </tr>
</table>


</body>
</html>
