<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <title>Task assigned on a Pro-Filr Group</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
</head>
<body style="margin: 0; padding: 20px;background-color: #DEE0E2;">
 <table align="center" border="0" cellpadding="0" cellspacing="0" width="600" style="border: 1px solid #cccccc;background-color: #F4F4F4; font-family: verdana; font-size: 12px; text-align: justify; line-height: 1.5">
 	<tr>
 		<td style="padding: 20px 20px 20px 20px;">
 			<table width="100%">
 				<tr>
 					<td style="font-size: 10px;"><a href="https://pro-filr.com" target="_blank">www.pro-filr.com</a></td>
 					<td style="font-size: 10px;" align="right">Email not displaying correctly?<br/><a href="#">View in your browser</a></td>
 				</tr>
 			</table>
 		</td>
 	</tr>
 <tr>
  <td style="padding: 20px 30px 10px 30px;">
   	<h4><img src="https://pro-filr.com/templates/Upload/profilr-logo.png" alt="logo" width="150" height="30"><span class="preheaderContent"><strong><em class="bodyContent"> ... where IDEAS meet SKILLS</em></strong></span>
                                        </h4>
                                        <hr style="color: #D3D3D3;" />
  </td>
 </tr>
 <tr>
  <td style="padding: 10px 30px 20px 30px;">
 <table border="0" cellpadding="0" cellspacing="0" width="100%">
  <tr>
   <td style="padding: 10px 10px 10px 10px;">
    <p>Hi [First Name],</p>
    <p>A new task, "[Task Name]", has been assigned to you in "[Project Name]" on Pro-Filr</p>
   </td>
  </tr>
  <tr>
   <td style="padding: 10px 10px 10px 10px; font-style: italic;font-weight: bold; color: #980000 ">
    Pro-Filr.com, World's #1 Platform for Verified Professionals to Collaborate
  </td>
  </tr>

  <tr>
   <td style="padding: 10px 10px 10px 10px;">
    <p>From: [First Name Last Name]</p>
    <p>I have just created a project, "[Project Name]", on Pro-filr and this task, "[Task Name]", has been assigned to you.</p>
    <p>Click <a href="https://pro-filr.com/projects">here</a> to login and find out more about the details of the task.</p>
  </td>
  </tr>
<tr>
	<td>
		<img src="https://pro-filr.com/images/profilr_banner_small_1.jpg" style="max-width:560px;"/>
	</td>
</tr>
 </table>
</td>
 </tr>
 <tr>
 	<td style="padding: 20px 30px 20px 30px;">
 		<p style="font-style: italic;font-weight: bold; color: #980000;">Upgrade to Classic Membership</p>
<p>Classic Membership on Pro-filr.com provides you with awesome opportunities. With the upgraded membership, you can engage other professionals, create unlimited professional groups and unlimited projects. Click <a href="https://pro-filr.com/upgrade">here to upgrade</a></p>
 	</td>
 </tr>
 <tr>
  <td style="padding: 10px 30px 30px 30px;">
  	<hr/>
    <span style="color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;font-style: italic;">This email is intended for [Email]. If you wish to stop receiving this email, please <a href="#">unsubscribe here</a></span>
  <table border="0" cellpadding="0" cellspacing="0" width="100%">
 <tr>
  <td width="65%" style="color: #808080;font-family: Helvetica;font-size: 10px;line-height: 150%;text-align: left;font-style: italic;">Copyright &copy; 2016<script>new Date().getFullYear()>2016&&document.write("-"+new Date().getFullYear());</script> Pro-Filr Inc. 10 George St. North. Ontario. L6X 1R2. Canada.
</td>
  <td align="right">
 <table border="0" cellpadding="0" cellspacing="0">
  <tr>
   <td>
    <a href="https://twitter.com/pro_filr" target="_blank"><img src="https://pro-filr.com/images/twitter.png" width="30" height="30"></a>
   </td>
   <td style="font-size: 0; line-height: 0;" width="20">&nbsp;</td>
   <td>
    <a href="https://www.facebook.com/profilr2016/" target="_blank"><img src="https://pro-filr.com/images/facebook.png" width="30" height="30"></a>
   </td>
  </tr>
 </table>
</td>
 </tr>
</table>
</td>
 </tr>
</table>
</body>
</html>