<div class="ui inverted vertical footer segment" style="background-color: #40474a !important">
    <div class="ui center aligned container">
        <div class="ui stackable inverted divided equal height stackable grid">
            <div class="four wide column">
                <h4 class="ui inverted header"></h4>
                <div class="ui inverted link list">
                    <a href="about.php" class="item nav_link" data-page="index" data-view="about">About Pro-Filr</a>
                    <a href="agreement.php" class="item nav_link" data-page="index" data-view="agreement">User
                        Agreement</a>


                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header"></h4>
                <div class="ui inverted link list">

                    <a href="privacy.php" class="item nav_link" data-page="index" data-view="privacy">Privacy &amp;
                        Terms</a>

                    <!-- <a href="relations.php" class="item nav_link" data-page="index" data-view="relations">Public Relations</a> -->
                    <a href="copyright.php" class="item nav_link" data-page="index" data-view="copyright">Copyright
                        Policy</a>
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header"></h4>
                <div class="ui inverted link list">
                    <!-- <a href="advertise.php" class="item nav_link" data-page="index" data-view="advertise">Advertise with us</a> -->
                    <!-- <a href="post.php" class="item nav_link" data-page="index" data-view="post">Post Opportunities</a> -->
                    <a href="upgrade.php" class="item nav_link" data-page="index" data-view="upgrade">Upgrade to
                        Classic, Get Profiled</a>
                    <a href="forum.php" class="item nav_link" data-page="index" data-view="forum">Forum Rules</a>
                    <!-- <a href="caq.php" class="item nav_link" data-page="index" data-view="caq">Commonly Asked Questions</a> -->
                    <!-- <a href="adchoices.php" class="item nav_link" data-page="index" data-view="adchoices">Adchoices</a> -->
                </div>
            </div>
            <div class="four wide column">
                <h4 class="ui inverted header"></h4>
                <div class="ui inverted link list">
                    <a href="cookies.php" class="item nav_link" data-page="index" data-view="cookies">Cookies Policy</a>
                    <!-- <a href="help.php" class="item nav_link" data-page="index" data-view="help">Help &amp; Feedback</a> -->
                    <a href="contact.php" class="item nav_link" data-page="index" data-view="contact">Contact Us</a>

                </div>
            </div>
        </div>
        <div class="ui inverted section divider"></div>
        <div class="ui horizontal inverted small divided link list">
            <a class="item" href="../sitemap.xml" target="_blank">Site Map</a>
            <a class="item" href="https://www.facebook.com/profilr2016/" target="_blank">Facebook</a>
            <a class="item" href="https://twitter.com/pro_filr" target="_blank">Twitter</a>

        </div>
    </div>
</div>
<!-- <script type="text/javascript">

myApp.onReady();

</script> -->