<!-- nav bar -->
<div class="row" id="nav_row">

    <div class="ui fixed inverted menu navbar" style="background-color: #40474a !important">
        <div class="header item">
            <img class="ui  image" src="../images/prologo.png">
        </div>
        <div class="right  menu">
            <a href="home.php" class="item nav_link" data-page="index" data-view="home">Home</a>
            <!-- <a href="profile.php" class="item nav_link" data-page="profile" data-view="profile">My Profile</a> -->
            <!-- <a class="item nav_link">Pricing</a> -->
            <a href="blog.php" class="item nav_link" data-page="index" data-view="blog">Blog</a>
            <a href="login.php" class="item nav_link" data-page="index" data-view="login">Login</a>

            <div class="item">
                <a href="signup.php" class="ui button signup" style="color:white; background-color: #ff4e00 !important">GET
                    STARTED</a>
            </div>


        </div>


    </div>


</div>
<!-- 		    <div class="row" id="image_row">

        <div class="four wide column" style="height: 32px;">
          <img src="../images/profilr-logo2.png">
        </div>
    </div> -->

<!-- nav bar ends -->
<!-- buttons row -->
<!-- <div class="row" id="btn_row">
    <div class="ui six wide column"></div>
    <div class="ui twelve wide column"></div>
</div> -->
<!-- buttons row ends -->