<!-- nav bar -->
<div class="row" id="nav_row">

    <div class="ui fixed inverted menu navbar" style="background-color: #40474a !important">
        <div class="header item">
            <img class="ui  image" src="images/logo.png">
        </div>
        <div class="right  menu">
            <a class="item nav_link" data-page="index" data-view="home">Home</a>
            <a class="item nav_link" data-page="profile" data-view="profile">My Profile</a>
            <!-- <a class="item nav_link">Pricing</a> -->
            <a class="item nav_link" data-page="index" data-view="login">Login</a>

            <div class="item">
                <button class="ui button signup" style="color:white; background-color: #ff4e00 !important">GET STARTED
                </button>
            </div>


        </div>


    </div>


</div>

<!-- nav bar ends -->
<!-- buttons row -->
<div class="row" id="btn_row">
    <div class="ui six wide column"></div>
    <div class="ui twelve wide column"></div>
</div>
<!-- buttons row ends -->

<!-- content row -->
<div class="row" id="content_row">
    <div class="twelve wide column">
        <div class="ui  vertical segment">
            <!-- right rail -->
            <div class="ui right dividing rail">
                <div class="ui segment">
                    <div class="row">
                        <div class="ui fluid icon input">
                            <input placeholder="Search..." type="text">
                            <i class="inverted circular search link icon"></i>
                        </div>
                    </div>
                    <div class="row" style="margin-top: 20px;">
                        <div class="ui cards">
                            <div class="card">
                                <div class="content">
                                    <div class="header">Opportunities</div>
                                    <div class="description"></div>
                                </div>
                                <div class="ui bottom attached button">More</div>
                            </div>

                            <div class="card">
                                <div class="content">
                                    <div class="header">Professional Adverts</div>
                                    <div class="description"></div>
                                </div>
                                <div class="ui bottom attached button">More</div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>

            <!-- right rail ends -->
            <spcontent>


            </spcontent>


        </div>
    </div>
</div>