<div class="row">
    <div class="ui one column grid">

        <div class="ui vertical segment">
            <div class="ui fluid icon input">
                <input placeholder="Search for professionals, firms, opportunities..." type="text">
                <i class="search icon"></i>
            </div>
        </div>
    </div>

</div>

<div class="row">
    <div class="ui two column grid">
        <div class="ui twelve wide column">
            <spcontent></spcontent>
        </div>
        <side></side>


    </div>

</div>


