<div class="row" id="nav_row">

    <div class="ui fixed inverted menu navbar" style="background-color: #40474a !important">
        <div class="header item">
            <img class="ui  image" src="../images/prologo.png">
        </div>
        <div class="right  menu profile_menu">
            <!-- <a class="item profile_link" data-page="index" data-view="home"><i class="university icon"></i>Home</a> -->
            <a class="item profile_link" data-view="blog"><i class="mail icon"></i>Blog</a>
            <a class="item profile_link" data-view="landing"><i class="home icon"></i>My Homepage</a>
            <a class="item profile_link" data-view="profile"><i class="edit icon"></i>Edit Profile</a>
            <!-- <a class="item profile_link"><i class="thumbs outline up icon"></i>Validations</a> -->

            <!-- <a class="item profile_link" data-view="contacts"><i class="edit icon"></i>My Contacts</a> -->
            <a class="item profile_link" data-view="invites"><i class="external share icon"></i>Send Invites</a>

            <a class="item profile_link" data-view="posts"><i class="mail icon"></i>Posts</a>

            <div class="ui simple dropdown item">
                My Account
                <i class="dropdown icon"></i>
                <div class="menu">
                    <div class="item profile_link" data-view="company"><i class="building outline icon"></i>Company Page
                    </div>
                    <div class="item"><i class="configure icon"></i>Change Password</div>
                    <div class="ui divider"></div>
                    <div class="item" data-view="logout"><i class="sign out icon"></i>Logout</div>
                </div>
            </div>


            <!-- <a class="item" data-view="logout"><i class="sign out icon"></i>Logout</a> -->
        </div>


    </div>


</div>

<!-- <div class="row" style="margin-top: 20px;">
<div class="ui one column grid">

    <div class="ui vertical segment" id="search_bar">

        <div class="ui fluid icon input">
            <input placeholder="Search Professionals, Specialisations in Cities, Countries and much more..." type="text" name="search_input" id="search_input">
            <i class="circular search link icon search_link"></i>
        </div>
    </div>
  </div>

</div>
-->
<!--     <script type="text/javascript">
      $(document).ready(function(){
        $("[data-view='logout']").on("click",function(){
          alert("larry");
        });
      });
    </script> -->