<!-- right rail -->
<div class="ui right dividing rail">
    <div class="ui segment">
        <div class="row">
            <div class="ui fluid icon input">
                <input placeholder="Search..." type="text">
                <i class="inverted circular search link icon"></i>
            </div>
        </div>
        <div class="row" style="margin-top: 20px;">
            <div class="ui cards">
                <div class="card">
                    <div class="content">
                        <div class="header">Opportunities</div>
                        <div class="description"></div>
                    </div>
                    <div class="ui bottom attached button">More</div>
                </div>

                <div class="card">
                    <div class="content">
                        <div class="header">Professional Adverts</div>
                        <div class="description"></div>
                    </div>
                    <div class="ui bottom attached button">More</div>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- right rail ends -->